<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
    {{>navbar}}


    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="cool-md-10 col-12 mx-auto">
                <div class="row">
                        <!-- left side div  -->

                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="images/hero.jpg" alt="faizi" class="img-fluid" title="faizi">
                            </figure>
                        </div>
                        <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A<span class="text_clr"> Mern Stack Developer </span> Youtuber And A FreeLancer</h1>
                        <a  href="https://www.linkedin.com/in/md-faiyyaj-alam-3743a2195/" target="_blank"><button>About me</button></a>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->

    {{>footer}}

</body>
</html>